# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

*.sublime-project
*.sublime-workspace
node_modules
.env
.env.production
*.zip
app

.openode

*.logs
logs
/lib
*.log
.vercel
coverage
certs
.clinic
output
package/build
